
/* camera resize Vertical - limite de 500px para evitar imagens enormes ao trocar a barra de horizontal para vertival */

#camera-views.vertical {
    resize: horizontal;
    overflow: auto;
    max-width: 500px !important;
}


/* camera resize horizontal - limite de 400px para evitar imagens enormes ao trocar a barra de vertival  para horizontal*/

    #camera-views.horizontal {

     resize: Vertical;
    overflow: auto;
    max-height: 400px !important;
      
}

/* user control ajust wrap*/

#camera-views > .user-controls {

    flex-wrap: wrap;
}

/* Fazer com que os controles do chat fiquem abaixo da caixa de chat compacta para que não haja sobreposição.*/

#chat-notifications #chat-controls {
    position: static;}

.split-button.vertical {
    writing-mode: horizontal-tb;
}